# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Frontend Dependency Directories
node_modules/
dist/
dist-ssr/
*.local

# Backend Dependency Directories & Environments
backend/node_modules/
backend/.env
backend/uploads/*
!backend/uploads/.gitkeep

# Editor Directories and Files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

